registry=https://registry.npmjs.org/
electron_mirror=https://github.com/electron/electron/releases/download/
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
ELECTRON_BUILDER_BINARIES_MIRROR=https://github.com/electron-userland/electron-builder-binaries/releases/download/
disturl=https://registry.npmjs.org/dist
sass_binary_site=https://github.com/sass/node-sass/releases/download/
phantomjs_cdnurl=https://github.com/Medium/phantomjs/releases/download/
chromedriver_cdnurl=https://chromedriver.storage.googleapis.com/
operadriver_cdnurl=https://github.com/operasoftware/operachromiumdriver/releases/download/ 